@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-blue: #94eaff;
    --color-light-100: #e7f2ff;
    --color-light-200: #bdbdbd;
    --color-border-dark: #151024;
    --color-dark-100: #0d161a;
    --color-dark-200: #182830;
    --radius: 0.625rem;
    --background: 200 10% 3%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;
    --primary: 168 72% 61%;
    --primary-foreground: 0 0% 98.5%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20.5%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55.6%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20.5%;
    --destructive: 0 62% 58%;
    --destructive-foreground: 0 0% 98.5%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

  }

  .dark {
    --background: 200 10% 3%;
    --foreground: 0 0% 100%;
    --card: 0 0% 14.5%;
    --card-foreground: 0 0% 98.5%;
    --popover: 0 0% 14.5%;
    --popover-foreground: 0 0% 98.5%;
    --primary: 168 72% 61%;
    --primary-foreground: 0 0% 14.5%;
    --secondary: 0 0% 20.5%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 20.5%;
    --muted-foreground: 0 0% 55.6%;
    --accent: 0 0% 20.5%;
    --accent-foreground: 0 0% 98.5%;
    --destructive: 0 62% 58%;
    --destructive-foreground: 0 0% 98.5%;
    --border: 0 0% 20.5%;
    --input: 0 0% 20.5%;
    --ring: 0 0% 70.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
    outline-color: hsl(var(--ring) / 0.5);
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    @apply mx-auto container flex flex-col sm:px-10 px-5 py-10;
  }

  h1 {
    @apply text-gradient text-6xl font-semibold max-sm:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  ul {
    @apply list-disc list-inside;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-gradient {
    @apply bg-gradient-to-b from-white via-white to-blue bg-clip-text font-semibold text-transparent;
  }

  .glass {
    @apply bg-[#12121280]/50 rounded-md backdrop-blur-xl border-b;
    border-bottom-color: var(--color-border-dark);
  }

  .card-shadow {
    box-shadow: 0px 4px 40px 0px #00000066;
  }
}

@layer components {
  #home .subheading {
    @apply text-lg max-sm:text-sm text-center mt-5;
    color: var(--color-light-100);
  }

  #explore-btn {
    @apply flex w-fit cursor-pointer rounded-full border px-8 py-3.5 max-sm:w-full text-center;
    background-color: var(--color-dark-100);
    border-color: var(--color-dark-200);
  }

  #explore-btn a {
    @apply flex-center gap-2 text-center w-full;
  }

  header {
    @apply glass sticky top-0 z-50;
  }

  header nav {
    @apply flex flex-row justify-between mx-auto container sm:px-10 px-5 py-4;
  }

  header .logo {
    @apply flex flex-row items-center gap-2;
  }

  header .logo p {
    @apply text-xl font-bold italic max-sm:hidden;
  }

  header ul {
    @apply flex flex-row items-center gap-6;
  }

  .events {
    @apply grid md:grid-cols-3 gap-10 sm:grid-cols-2 grid-cols-1;
  }

  #event-card {
    @apply flex flex-col gap-3;
  }

  #event-card .poster {
    @apply h-[300px] w-full rounded-lg object-cover;
  }

  #event-card .title {
    @apply text-[20px] font-semibold line-clamp-1;
  }

  #event-card p {
    @apply text-sm font-light;
    color: var(--color-light-200);
  }

  #event-card .datetime {
    @apply flex flex-row flex-wrap items-center gap-4;
    color: var(--color-light-200);
  }

  #event-card .datetime div {
    @apply flex flex-row gap-2;
  }

  #event .header {
    @apply flex w-2/3 flex-col items-start gap-4 max-lg:w-full mb-10;
  }

  #event .details {
    @apply flex w-full flex-col lg:flex-row gap-12 items-start mt-12 max-lg:items-center;
  }

  #event .details .content {
    @apply flex flex-[2] flex-col gap-8 max-lg:w-full;
  }

  #event .details .content .banner {
    @apply max-h-[457px] w-full rounded-lg object-cover;
  }

  #event .details .content .agenda {
    @apply flex flex-col gap-2;
  }

  #event .details .content .agenda ul li {
    @apply text-lg max-sm:text-sm;
    color: var(--color-light-100);
  }

  #event .details .booking {
    @apply flex-1 w-full p-4 border-l border-gray-700;
  }

  #event .details .booking .signup-card {
    @apply card-shadow flex w-full flex-col gap-6 rounded-[10px] border px-5 py-6;
    background-color: var(--color-dark-100);
    border-color: var(--color-dark-200);
  }

  #event h2 {
    @apply text-2xl font-bold;
  }

  #event p {
    @apply text-lg max-sm:text-sm;
    color: var(--color-light-100);
  }

  #event .flex-col-gap-2 {
    @apply flex flex-col gap-2;
  }

  #event .flex-row-gap-2 {
    @apply flex flex-row gap-2;
  }

  .pill {
    @apply text-xs rounded-[6px] px-5 py-2;
    background-color: var(--color-dark-100);
    color: var(--color-light-100);
  }

  #book-event {
    @apply flex flex-col gap-6;
  }

  #book-event form {
    @apply flex flex-col gap-6;
  }

  #book-event form div {
    @apply flex flex-col gap-2;
  }

  #book-event form div input {
    @apply rounded-[6px] px-5 py-2.5;
    background-color: var(--color-dark-200);
  }

  #book-event form button {
    @apply w-full cursor-pointer items-center justify-center rounded-[6px] px-4 py-2.5 text-lg font-semibold text-black hover:opacity-90;
    background-color: hsl(var(--primary));
  }
}